<module>
<User_List f="nodata">
  <User_List f="noscroll">
    <User_List t="list" f="nolabel user" l="Control"/>
  </User_List>
</User_List>

<Control f="nodata">
	<Control f="noscroll">

		<New_Square t="button" l="Square"/>

 		<GPS_diagnostics t="gpsdiag"/>

	</Control>

	<search/>
	<!--"Select User" dropdown has been added using @POSTPROC-->


	<Autonumbering>
		<autonum/>
	</Autonumbering>

</Control>

<Square>
	<fmt>SQ{{Square_ID}}</fmt>
	<General>
		<Square_ID f="id autonum nocertainty"/>
		<Width f="nocertainty noannotation" b="decimal"/>
		<Start_Line t="button"/>
		<Northing1 b="decimal"/>
		<Easting1 b="decimal"/>
		<Stop_Line t="button"/>
		<Northing2 b="decimal"/>
		<Easting2 b="decimal"/>
	</General>
</Square>

<logic><![CDATA[

String easting1 = "";
String northing1 = "";
String easting2 = "";
String northing2 = "";

addOnEvent("Square/General/Start_Line", "click", "buttonPress1()");

void buttonPress1(){
	Object projPosition = getGPSPositionProjected();
	Double northing = projPosition.getLatitude();
	Double easting = projPosition.getLongitude();
	
	String sNorthing1    = "" + northing;
	String sEasting1     = "" + easting;

	easting1 = sEasting1;
	northing1 = sNorthing1;
	
	Map tabgroupToTabRef = getTakeFromGpsMappings();
	setFieldValue("Square/General/Easting1",   sEasting1);
	setFieldValue("Square/General/Northing1",  sNorthing1);
}

addOnEvent("Square/General/Stop_Line", "click", "buttonPress2()");

void buttonPress2(){
	Object projPosition = getGPSPositionProjected();
	Double northing = projPosition.getLatitude();
	Double easting = projPosition.getLongitude();
	
	String sNorthing2    = "" + northing;
	String sEasting2     = "" + easting;

	easting2 = sEasting2;
	northing2 = sNorthing2;
	
	setFieldValue("Square/General/Easting2",   sEasting2);
	setFieldValue("Square/General/Northing2",  sNorthing2);
}


String query = "INSERT INTO ArchEntity (UUID, UserID, AEntTypeID, ParentTimestamp, GeoSpatialColumnType) "
					"SELECT uuid, +"selectUser()"+, aenttypeid, aenttimestamp, select transform(GUnion(SingleSidedBuffer("
						"MakeLine("
							"MakePoint(" + easting1 + "," + northing1 ","+getModuleSrid()+"), "
							"MakePoint(" + easting2 + "," + northing2 ","+getModuleSrid()+")), "+getFieldValue("Square/General/Width" + ", 0) , "
						"SingleSidedBuffer( "
							"MakeLine("
								"MakePoint(" + easting1 + "," + northing1 ","+getModuleSrid()+"), "
								"MakePoint(" + easting2 + "," + northing2 ","+getModuleSrid()+"))," +getFieldValue("Square/General/Width") +" , 1)), 3875);";



]]></logic>

</module>