<module>
<User_List f="nodata">
  <User_List f="noscroll">
    <User_List t="list" f="nolabel user" l="Control"/>
  </User_List>
</User_List>

<Control f="nodata">
	<Control f="noscroll">

		<New_Square t="button" l="Square"/>

 		<GPS_diagnostics t="gpsdiag"/>

	</Control>

	<search/>
	<!--"Select User" dropdown has been added using @POSTPROC-->


	<Autonumbering>
		<autonum/>
	</Autonumbering>

</Control>

<Square>
	<fmt>SQ{{Square_ID}}</fmt>
	<General>
		<Square_ID f="id autonum nocertainty"/>
		<Width f="nocertainty noannotation" b="decimal"/>
		<Start_Line t="button"/>
		<Northing1 b="decimal"/>
		<Easting1 b="decimal"/>
		<Stop_Line t="button"/>
		<Northing2 b="decimal"/>
		<Easting2 b="decimal"/>
	</General>
</Square>

<logic><![CDATA[

addOnEvent("Square/General/Start_Line", "click", "buttonPress1()");

void buttonPress1(){
	Object projPosition = getGPSPositionProjected();
	Double northing1 = projPosition.getLatitude();
	Double easting1 = projPosition.getLongitude();
	
	String sNorthing1    = "" + northing1;
	String sEasting1     = "" + easting1;
	
	Map tabgroupToTabRef = getTakeFromGpsMappings();
	setFieldValue("Square/General/Easting1",   sEasting1);
	setFieldValue("Square/General/Northing1",  sNorthing1);
}

addOnEvent("Square/General/Stop_Line", "click", "buttonPress2()");

void buttonPress2(){
	Object projPosition = getGPSPositionProjected();
	Double northing2 = projPosition.getLatitude();
	Double easting2 = projPosition.getLongitude();
	
	String sNorthing2    = "" + northing2;
	String sEasting2     = "" + easting2;
	
	setFieldValue("Square/General/Easting2",   sEasting2);
	setFieldValue("Square/General/Northing2",  sNorthing2);
}


]]></logic>

</module>